<!DOCTYPE html>
<html>
<head>
  <title>Omrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--COMENTEI PARA PARAR DE RECEBER O ERRO UTF_8-->
  <!--
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   -- >
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
